p {
    margin-left: 2ch;
    width: 85ch;
}

pre {
    border-style: solid;
    padding: 1em;
    display: table;
    width: 85ch;
}

pre.c {
    background-color: LightCyan
}

pre.go {
    background-color: AliceBlue
}

pre.lisp {
    background-color: Beige
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace;
}

table.lisp {
    background-color: Beige
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
